/*  hive.css */
.axis {
  stroke: #FFFFFF;
  stroke-width: 1px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
  stroke-opacity: .5;
}

.node {
  stroke: none;
}

.active {
  stroke: #FF0000;
  stroke-width: 2.5px;
  stroke-opacity: 1.0;
}

.tooltip {
  background-color: #FFFFFF;
  font-size: 12px;
  min-width: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

/* Document css */
h1{
  text-align:"right";
}

table{
  width: 278px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0FFFF;
}

#header {
  height: 40pt;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#chart {
  border: none;
  margin: 0px;
  padding: 0px;
  background-color: #000;
  float: left;
}

#info {
  padding: 4px;
  width: 280px;
  float: left;
}

#status {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 2px;
  padding: 2px;
}

#metrics {
  padding: 0px;
  border: 1px solid;
  border-color: #000;
}
